.connectbutton {
  background-color: burlywood;
  padding: 2;
  margin: 1em;
  padding: 0.5em;
  width: 15ch;
}

.keywordbutton {
  background-color:darkkhaki;
  padding: 2;
  margin: 1em;
  padding: 0.5em;
  width: 15ch;
}

.textarea {
  width: 100%;
  height: 20em;
  overflow: auto;
}